body {
    margin: 0;
    color: white;
    background: #002240
}

#stack{
    position: relative;
    z-index: 1;
}

#particles-js {
    background: #002240;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.particles-js-canvas-el {
    position: fixed;
}
