body {
    margin: 0;
    background: #002240
}

#particles-js {
    height: 750px;
    background: #002240;
}

#intro {
    padding-top: 30px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 429px;
    height: 0px;
    left: 0;
    right: 0;
}

#summary_head {
    padding: 0px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    top: 250px;
    left: 0;
    right: 429px;
}

#summary {
    padding: 0px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 429px;
    height: 0px;
    top: 315px;
    left: 0;
    right: 0;
}

#line {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 450px;
    left: 0;
    right: 0;
}

#search_algorithms_head {
    padding: 0px;
    color: white;
    position: absolute;
    width: 270px;
    height: 0px;
    top: 480px;
    left: 30px;
    right: 0;
}

#search_algorithms {
    padding: 0px;
    color: white;
    position: absolute;
    width: 270px;
    height: 0px;
    top: 580px;
    left: 30px;
    right: 0;
}

#nested_geometry_head {
    padding-top: 0px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 0px;
    top: 480px;
    left: 0;
    right: 0;
}

#nested_geometry {
    padding-top: 0px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 0px;
    top: 550px;
    left: 0;
    right: 0;
}

#perceptron_head {
    padding: 0px;
    color: white;
    position: absolute;
    width: 270px;
    height: 0px;
    top: 480px;
    left: 960px;
    right: 0;
}

#perceptron {
    padding-top: 0px;
    color: white;
    position: absolute;
    width: 270px;
    height: 0px;
    top: 580px;
    left: 960px;
    right: 0;
}
